VITE_SUPABASE_URL=https://lkhdznclfgsecnawmlaw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxraGR6bmNsZmdzZWNuYXdtbGF3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA2NTE2MTYsImV4cCI6MjEwNjIyNzYxNn0.PKsl4EfuLDx6uWJ78ItLzajDwcnClp4qOs-Q751sIsI